<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to my page!</h1>
    <p>This is the demo app for the course
        <em>Getting Started with Flask</em>
        on <a href="https://app.pluralsight.com">pluralsight</a>
    </p>
    <img src="/static/flask-logo.png" alt="Flask Logo">
    
    <h2>Flash Cards</h2>
    <ul>
        {% for card in data %}
        <li><a href="{{ url_for('card_view_by_nomor', nomor=loop.index0) }}">{{ card.pertanyaan }}</a></li>
        {% endfor  %}
    </ul>
</body>
</html>